<!DOCTYPE html>
<html lang="en" class="dark" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ODI CSVW data browser</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.8/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="/style/style.css">
</head>
<body>
  <div class="banner"><%- readFileContent(sourcedir + '/name.html') %></div>
  <div class="sidebar">
    <img class="odi-logo" src="/img/odi-logo.png">
    <ul>
      <li class="arrow-icon"><a href="#data" class="toggle-link">Home</a></li>
      <li class="arrow-icon"><a href="#start" class="toggle-link">Getting started</a></li>
      <li class="arrow-icon"><a href="#changeData" class="toggle-link">Switch example</a></li>
      <li class="arrow-icon"><a href="#about" class="toggle-link">About this tool</a></li>
      <li class="arrow-icon"><a href="#originalCSV" class="toggle-link">View CSV</a></li>
      <li class="arrow-icon"><a href="#csvwMetadata" class="toggle-link">View CSVW</a></li>
      <li class="arrow-icon"><a href="#jsonLD" class="toggle-link">View JSON-LD</a></li>
    </ul>
  </div>
  <div class="main-content">
    <section id="data">
      <h1>ODI CSVW data browser</h1>
      <p>On this page you will find metadata and data relating to the URI you requested in your address bar.</p>
      <p>To discover more about this tool, click <a href="#start" class="toggle-link">Getting started</a> in the menu.</p>
      <div class="metadata">
        <h2>Metadata</h2>
        <p>This section lists the metadata related to the data.</p>
        <ul>
          <% for (const [key, value] of Object.entries(metadata)) { %>
            <% if (!(typeof value === 'object' && value['@id'] && value['rdfs:label'] && Object.keys(value).length === 2)) { %>
              <li><strong><%= key %>:</strong> <%- objectToString(value) %></li>
            <% } %>
          <% } %>
        </ul>
      </div>
      <% if (Array.isArray(inputData)) { %>
        <!-- Rendering a list of things -->
        <div class="data">
          <h2>Data</h2>
          <table id="dataTable" class="display">
            <thead>
              <tr>
                <% const columns = Object.keys(inputData[0]); %>
                <% for (const label of columns) { %>
                  <th>
                    <% const data = inputData[0][label]; %>
                    <% if (data && data.labellink) { %>
                      <a href="<%= data.labellink %>" target="_blank"><%= label %></a>
                    <% } else { %>
                      <%= label %><br>
                    <% } %>
                  </th>
                <% } %>
              </tr>
            </thead>
            <tbody>
              <% inputData.forEach(item => { %>
                <tr>
                  <% columns.forEach(label => { %>
                    <td>
                      <% const data = item[label]; %>
                      <% if (data) { %>
                        <% if (data.valuelink) { %>
                          <a href="<%= data.valuelink %>" target="_blank"><%= data.value %></a>
                        <% } else { %>
                          <%= data.value %>
                        <% } %>
                      <% } else { %>
                        <!-- Handle undefined data here by inserting an empty cell -->
                      <% } %>
                    </td>
                  <% }) %>
                </tr>
              <% }) %>
            </tbody>
          </table>

        </div>
      <% } else { %>
        <!-- Rendering a single transaction -->
        <div class="data">
          <h2>Data</h2>
          <ul>
            <% for (const [key, value] of Object.entries(inputData)) { %>
              <li><strong><%= key %>:</strong>
                <% if (typeof value === 'string' && value.startsWith('http')) { %>
                  <a href="<%= value %>" target="_blank"><%= value %></a>
                <% } else { %>
                  <%= value %>
                <% } %>
              </li>
            <% } %>
          </ul>
        </div>
      <% } %>
    </section>
    <section id="start" class="hidden">
      <%- readFileContent('docs/GETTING-STARTED.html') %>
    </section>
    <section id="changeData" class="hidden">
      <h1>Change Data Example</h1>
      <p>Currently loaded: <strong>
        <%= sourcedir === 'data/example1/' ? 'Example 1' : '' %>
        <%= sourcedir === 'data/example2/' ? 'Example 2' : '' %>
        <%= sourcedir === 'data/example3/' ? 'Example 3' : '' %>
        <%= sourcedir === 'data/example4/' ? 'Example 4' : '' %>
        <%= sourcedir === 'data/example5/' ? 'Example 5' : '' %>
      </strong></p>
      <p>Select an example to load:</p>
      <form action="#" method="get" id="exampleForm">
        <select name="source">
          <option value="example1" <%= sourcedir === 'data/example1/' ? 'selected' : '' %>>Example 1</option>
          <option value="example2" <%= sourcedir === 'data/example2/' ? 'selected' : '' %>>Example 2</option>
          <option value="example3" <%= sourcedir === 'data/example3/' ? 'selected' : '' %>>Example 3</option>
          <option value="example4" <%= sourcedir === 'data/example4/' ? 'selected' : '' %>>Example 4</option>
          <option value="example5" <%= sourcedir === 'data/example5/' ? 'selected' : '' %>>Example 5</option>
          <!-- Add more options for other examples as needed -->
        </select>
        <br/>
        <input type="submit" value="Load Example">
      </form>
    </section>
    <section id="about" class="hidden">
      <%- readFileContent('docs/ABOUT.html') %>
    </section>
    <section id="examples" class="hidden">
      <%- readFileContent(sourcedir + '/README.html') %>
    </section>
    <section id="originalCSV" class="hidden">
      <h2>Original CSV</h2>
      <p><a href="/<%= sourcedir %>transactions.csv" download>Download CSV</a></p>
      <div><%- renderCsvToTable(sourcedir + '/transactions.csv') %></div>
    </section>
    <section id="csvwMetadata" class="hidden">
      <%- readFileContent(sourcedir + '/README.html') %>
      <h1>CSVW Metadata - JSON File</h1>
      <p><a href="/<%= sourcedir %>csvw.json" download>Download CSVW Metadata</a></p>
      <p>To validate this file, copy the link address of the CSVW Metadata download and paste this into the JSON-LD Descriptor tab of <a href="https://csvw.opendata.cz/validation" target="_blank">https://csvw.opendata.cz/validation</a>.
      <p><b>Note:</b> Validation will fail when the context has additional namespaces declared, as is the case with Example 3 and Example 4. You are looking at <b><%= sourcedir %></b>.</p>
      <div class="code-box" class="hidden">
        <pre><code class="language-json"><%- readFileContent(sourcedir + '/csvw.json') %></code></pre>
      </div>
      <%
        const exampleNumber = parseInt(sourcedir.match(/\d+/)[0], 10);
        const previous = exampleNumber - 1;
        const diffUrl = "/diffs/?left=" + base + "data/example"+previous+"/csvw.json&right=" + base + "data/example"+exampleNumber+"/csvw.json";
        if (exampleNumber > 1) { %>
        <h1>CSV Metadata - Differences from Example <%- previous %></h1>
        <div class="diff-box" id="diff-box">
        </div>
        <iframe src="<%- diffUrl %>"></iframe>
      <% } %>
    </section>
    <section id="jsonLD" class="hidden">
      <h2>Compiled JSON-LD Data</h2>
      <p><a href="/<%= sourcedir %>data.jsonld" download>Download compiled JSON-LD</a></p>
      <p><a href="https://json-ld.org/playground/#startTab=tab-table&json-ld=<%= base %><%= sourcedir %>data.jsonld" target="_blank">Click here</a> to browse this output in the JSON-LD playground.</p>
      <div class="code-box">
        <pre><code class="language-json"><%- readFileContent(sourcedir + '/data.jsonld') %></code></pre>
      </div>
    </section>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/themes/prism-tomorrow.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/prism.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/components/prism-json.min.js"></script>
  <script>
    $(document).ready(function() {
      detectColorScheme();
      $('#dataTable').DataTable();
      Prism.highlightAll();
      // JavaScript code
      document.querySelectorAll('.toggle-link').forEach(item => {
        item.addEventListener('click', function(e) {
            e.preventDefault();
            const targetId = this.getAttribute('href').substring(1);
            document.querySelectorAll('section').forEach(section => {
                section.classList.add('hidden');
            });
            document.getElementById(targetId).classList.remove('hidden');
        });
      });
    });

    function detectColorScheme() {
      const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
      if (prefersDark) {
        document.getElementsByClassName('banner')[0].style.background = 'white';
        document.getElementsByClassName('banner')[0].style.color = 'black';
      }
    }
  </script>
</body>
</html>